%_btn {
  @include font(
    $bg-color: $whiteColor,
    $color: $hoverTextColor,
    $l-height: 40px,
    $f-size: 15px,
    $f-weight: 600
  );
  @include box(
    $d: block,
    $border-c: $hoverTextColor,
    $border-w: 2px,
    $border-r: 4px,
    $width: 100%,
    $p: 0 30px,
    $m: 15px 0
  );
  overflow: hidden;
  position: relative;
  z-index: 0;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    z-index: -1;
    width: 130%;
    height: 100%;
    transition: transform 0.35s;
    transform: translateX(-50%) skewX(45deg) scaleX(0);
    background-color: $hoverTextColor;
  }

  &:hover {
    color: $whiteColor;
    &::before {
      transform: translateX(-50%) skewX(45deg) scaleX(1);
    }
  }
}

%_btnBlue {
  @extend %_btn;
  background-color: $hoverTextColor;
  color: $whiteColor;
  width: auto;
  line-height: 50px;

  &::before {
    background-color: $whiteColor;
  }

  &:hover {
    color: $hoverTextColor;
  }
}

%_spanTitle {
  @include box($d: inline-block, $m: 0 0 19px 0, $border-r: 12px, $p: 0 22px);
  @include font(
    $l-height: 24px,
    $f-size: 14px,
    $bg-color: rgba(200, 84, 255, 0.14),
    $color: #8f16c9
  );
}

%_h2Titles{
  @include box($d: inherit, $width: 376px);
  @include font(
    $color: #021937,
    $l-height: 1.3,
    $f-size: 40px,
    $f-weight: 800
  );
}