$global-font-family: 'Open Sans', sans-serif;

$primaryTextColor: #070337;
$hoverTextColor: #2f80ed;
$btnTextColor: #011224;
$succesTextColor: #179d50;

$whiteColor: #fff;
$blackColor: #222222;
$succesColor: #27ae6024;

$headerTextSize: 15px; 