#wetland-header {
  border-top: 4px solid #f385df;
  padding: 0 20px;

  .header-nav {
    max-width: 1200px;
    @include box($d: block, $m: 0 auto);
    @include flex($j-content: space-between);
    .logo-menu {
      @include flex();

      .logo-img-div {
        @include box($d: inline-block, $width: 176px, $p: 15px 33px 15px 0);

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      .menu-container {
        @include flex($gap: 35px, $j-content: space-between);
        @include box($d: inherit, $p: 0 0 0 52px);
        list-style: none;

        .menu-item-li {
          position: relative;
          .item-link {
            @include font(
              $f-size: $headerTextSize,
              $f-weight: 600,
              $color: $primaryTextColor,
              $l-height: 26px
            );

            @include box($d: inline-block, $p: 30px 0);
            transition: color 0.15s ease-in-out;

            span {
              vertical-align: sub;
              font-size: 18px;
              line-height: 0px;
            }

            &:hover {
              @include font($color: $hoverTextColor);
            }
          }

          .inside-items-container {
            @include flex($f-direction: column, $a-items: stretch);
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 999;

            box-shadow: rgb(236, 236, 236) 0 0 30px 5px;
            list-style: none;
            min-width: 200px;

            transform: translateY(15px);
            opacity: 0;
            transition: transform 0.45s, opacity 0.45s;
            .inside-item-li {
              @include box();
              .inside-link {
                @include font(
                  $f-weight: 600,
                  $f-size: 13px,
                  $color: $primaryTextColor,
                  $l-height: 26px
                );
                @include box(
                  $d: inherit,
                  $p: 10px 25px,
                  $border-c: rgba(0, 0, 0, 0.1),
                  $border-w: 0 0 1px 0
                );

                position: relative;
                z-index: 0;
                transition: color 0.3s;

                &::before {
                  content: "";
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  z-index: -1;
                  background-color: $hoverTextColor;
                  transform: scaleX(0);
                  transform-origin: right;
                  transition: transform 0.3s, color 0.3s;
                }

                &:hover {
                  color: $whiteColor;

                  &::before {
                    transform: scaleX(1);
                    transform-origin: left;
                  }
                }
              }
            }
          }

          &:hover {
            .inside-items-container {
              transform: translateY(0);
              opacity: 1;

              .inside-item-li {
                @include box($d: block);
              }
            }
          }
        }
      }
    }

    .acount-buttons {
      @include flex($a-items: center, $gap: 30px);
      .login {
        @include font(
          $f-size: $headerTextSize,
          $color: $btnTextColor,
          $l-height: 40px,
          $f-weight: 600
        );
        @include box($d: inherit, $border-s: none);
        transition: 0.2s color;

        &:hover {
          @include font($color: $hoverTextColor);
        }
      }

      .get-started {
        @include font(
          $color: $hoverTextColor,
          $l-height: 40px,
          $f-size: $headerTextSize,
          $f-weight: 600
        );
        @include box(
          $d: inherit,
          $p: 0 20px,
          $border-r: 6px,
          $bg-color: rgba(47, 128, 237, 0.08)
        );

        overflow: hidden;
        position: relative;
        z-index: 0;
        transition: box-shadow 0.4s;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 50%;
          z-index: -1;
          width: 130%;
          height: 100%;
          transition: transform 0.35s;
          transform: translateX(-50%) skewX(45deg) scaleX(0);
          background-color: $whiteColor;
        }

        &:hover {
          box-shadow: 0px 20px 60px 0px rgba(15, 0, 40, 0.2);
          &::before {
            transform: translateX(-50%) skewX(45deg) scaleX(1);
          }
        }
      }

      .mobile-menu-container {
        display: none;
        .menu-open-btn {
          @include flex(
            $f-direction: column,
            $j-content: space-between,
            $a-items: stretch
          );
          width: 30px;
          height: 21px;
          background-color: transparent;
          border: none;
          transition: transform 0.3s;

          span {
            @include box($d: inline-block);
            height: 3px;
            background-color: #5d41c2;
            transform-origin: right;
            transition: transform 0.3s;
          }

          &:hover {
            transform: rotate(-30deg);

            span:first-of-type {
              transform: scaleX(0.3);
            }

            span:nth-of-type(2) {
              transform: scaleX(0.65);
            }
          }
        }

        .fullscreen-container {
          position: fixed;
          top: 0;
          right: 0;
          bottom: 0;
          z-index: 999;
          width: 0;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.486);
          .mobile-menu {
            @include box(
              $d: block,
              $width: 320px,
              $height: 100%,
              $p: 30px,
              $bg-color: $whiteColor
            );
            
            transform: translateX(100%);
            transition: transform 0.3s;

            position: absolute;
            top: 0;
            right: 0;
            .logo-img-div {
              @include box($d: inline-block, $height: 42px, $m: 0 0 40px 0);
              img {
                width: 100%;
                height: 100%;
                object-fit: contain;
              }
            }
            .acordion-menu {
              list-style: none;

              .menu-item {
                color: $blackColor;
                .menu-item-link_open {
                  @include box(
                    $d: flex,
                    $border-c: rgba(0, 0, 0, 0.1),
                    $border-w: 0 0 1px 0
                  );
                  @include font($f-size: 13px, $f-weight: 600, $l-height: 46px);
                  justify-content: space-between;
                  .item-link {
                  }

                  .item-open {
                    @include flex();
                    border: rgba(0, 0, 0, 0.1) solid;
                    border-width: 0 0 0 1px;
                    cursor: pointer;

                    span {
                      padding: 10px;
                      transition: transform 0.3s;
                    }
                  }

                  .item-close {
                    span {
                      transform: rotate(45deg);
                    }
                  }
                }

                .inside-items {
                  list-style: none;
                  display: none;
                  .inside-item {
                    .inside-item-link {
                      @extend .menu-item-link_open;
                      padding: 0 26px;
                      color: $blackColor;
                    }
                  }
                }

                .inside-items-open {
                  display: block;

                  .inside-item {
                    .inside-item-link {
                    }
                  }
                }
              }
            }

            .mobile-login {
             @extend %_btn;
            }

            .mobile-get-started {
              @extend .mobile-login;
              background-color: $hoverTextColor;
              color: $whiteColor;

              &::before {
                background-color: $whiteColor;
              }

              &:hover {
                color: $hoverTextColor;
              }
            }
          }
        }

        .fullscreen-container-open {
          width: 100%;
          .mobile-menu {
            transform: translateX(0);
          }
        }
      }
    }
  }

  @media (max-width: 1199px) {
    .header-nav {
      max-width: 960px;

      .logo-menu {
        .menu-container {
          @include flex($gap: 19px);
          @include box($d: inherit, $p: 0 0 0 13px);
        }
      }
    }
  }

  @media (max-width: 991px) {
    .header-nav {
      max-width: 720px;
      .logo-menu {
        .menu-container {
          @include box();
        }
      }

      .acount-buttons {
        .mobile-menu-container {
          display: block;
        }
      }
    }
  }

  @media (max-width: 767px){
    .header-nav{
      max-width: 540px;

      .logo-menu{
        .logo-img-div {
          @include box($d: inline-block, $width: 176px, $p: 15px 27px 15px 10px);
        }
      }

      .acount-buttons{
        .login{
          display: none;
        }
        .get-started{
          display: none;
        }
      }
    }
  }
}
